/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
  }
  ul , li {
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .cell-r{
    float: right ;
  }
  .row::after{
    clear: both;
    content: "";
    display: block;
  }
  .con1{
    max-width: 2543px;
    margin: 0 auto;
  }
   .con2{
    max-width: 1440px ;
    margin: 0 auto;
  }
  .w450-box {
    max-width: 450px;
  }
/* 모듈화 */
  .img-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
  }

  .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
  }

  .w25-box {
    width: 25%;
    position:relative;
  }
  
  .w50-box {
    width: 50%;
    position:relative;
  }
  .w20-box {
    width: 25%;
    position:relative;
  }
  .w40-databox {
    width: 40%;
    position:relative;
  }

  /* winia-menu st */

  .nav-wrap {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
  .nav-wrap > .winia-menu {
    height: 100%;
  }
  .nav-wrap > .winia-menu > .winia-logo {
    width: 141px;
    height: 90px;
  }
  .nav-wrap > .winia-menu > .winia-logo > a > img {
    width: 141px;
    height: 90px;
  }
  .nav-wrap > .winia-menu > .menu-box {
    height: 90px;
  }
  .nav-wrap > .winia-menu > .menu-box > .menu {
    width: 670px;
  }
  .nav-wrap > .winia-menu > .menu-box > .menu > ul {
  }
  .nav-wrap > .winia-menu > .menu-box > .menu > ul > li {
    height: 90px;
    line-height: 90px;
    padding-left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }

  .nav-wrap > .winia-menu > .snb-box {
    width: 400px;
    height: 90px;
    font-size: 14px;
    line-height: 90px;
    font-weight: bold;
    text-align: center;
    position: relative;
  }
  .nav-wrap > .winia-menu > .snb-box > ul > li {
    color:#999999;
    padding-left: 35px;
  }
  .nav-wrap > .winia-menu > .snb-box > ul >.bage-new {
    color:#FFF;
    background-color: #222222;
    position: absolute;
    top:5px;
    font-size: 6px;
  }

  .nav-wrap > .winia-menu > .micon-box {
    height: 90px;
    line-height: 90px;
  }
 
  .nav-wrap > .winia-menu > .micon-box > .menu > ul > li {
    width: 21px;
    height: 21px;
  }
  .nav-wrap > .winia-menu > .micon-box > .menu > ul > li > a { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* nav-2-depth-wrap st */
  .nav-2-depth-wrap { 
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    padding: 35px 0 60px;
    /* position: absolute;   */
    /* opacity: 0.8;  */
  }
  .nav-2-depth-wrap > .nav-2-depth {
    height: 100%;
    background-color: #ccc;
    position: relative;
    background-color: rgba(0,0,0,0.5);
  } 
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top {
    width: 100%;
    height: 50%;
  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top::after {
    content:"";
    display: block;
  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content{
    width: 100%;
    height: 60%;
    background-color: white;
    padding-top: 30px;
    
  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content > .list-box{

  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content > .list-box > ul > li {
    font-size: 16px;
    font-weight: bold;
    color:#222222;
    margin-right: 20px;
  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content > .list-box > ul > li > ul > li {
    font-size: 15px;
    font-weight: normal;
    color:#999999;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content > .recom-box{

  }
  .nav-2-depth-wrap > .nav-2-depth > .nav-2-depth-top > .nav-2-content > .recom-box > .recom-img{
    position: absolute;
    transform: (-50% , -50%);
    top:2%;
    left:60%;
  }
  /* nav-2-depth-wrap en */

  /* winia-menu en */


  /* slider-wrap-top st */
  .slider-main > .slider-wrap .content {
    position: relative;
  }
  .slider-main  .content > .loader > img{
    width: 100%;
  }
  .slider-main  .content > .loader > video{
    width: 100%;
    position: absolute;
  }
  .slider-main  .content > .pc-version >.txt-box {
    position:absolute;
    top:50%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.18;
  }
  .slider-main  .pc-version  .txt-box > p {
    font-size: 24px;
    font-weight: bold;
  }
  .slider-main  .pc-version .txt-box > h2 {
    font-size: 60px;
    font-weight: bold;
  }
  .slider-main  .content > .pc-version > .btn-box {
    width: 170px;
    height: 48px;
    line-height: 48px;
    position:absolute;
    top:60%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px black;
    padding: 0px 16px;
    border-radius: 48px;
  }

  .slider-main .content > .mo-version >.txt-box {
    position:absolute;
    top:50%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.18;
  }
  .slider-main .mo-version > .txt-box > p {
    font-size: 24px;
    font-weight: bold;
  }
  .slider-main .mo-version > .txt-box > h2 {
    font-size: 60px;
    font-weight: bold;
  }
  .slider-main .content > .mo-version > .btn-box {
    width: 170px;
    height: 48px;
    line-height: 48px;
    position:absolute;
    top:60%;
    left:20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px black;
    padding: 0px 16px;
    border-radius: 48px;
  }

  .slider-main > .slider-wrap .content {
    background-color: #555;
    position: relative;
  }
  /* .slider-main > .btn-box {
    width: 27px;
    height: 36px;
    color: white;
    border-radius:50%;
    font-size:40px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
  } */
  
  .slider-wrap > .slick-dots {
    bottom:40px;
    z-index:9;
    color:#E0E1E5;
  }
  .slider-wrap > .slick-dots:hover {
    color: #003B70;
  }
  .slider-wrap > .slick-prev {
    width: 27px;
    height: 36px;
    font-size: 40px;
    left:0;
    z-index: 9;
  }
  .slider-wrap > .slick-next {
    width: 27px;
    height: 36px;
    font-size: 40px;
    right: 0;
    z-index: 9;
  }
  /* slider-wrap-top en */


  /* tap-section02 st */
  .tap-section02 {
    margin-top: 60px;
  }
  .tap-section02 > .section02 >.slider-wrap {
    padding-bottom: 40px;
    z-index:1;
    text-align: center;
  }
  .tap-section02 > .section02 > .slider-wrap > .txt-box {
    position: relative;
    margin: 0 auto;
    display: inline-block;
  }
  .tap-section02 > .section02 > .slider-wrap > .txt-box > li {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px;
    padding: 10px 0px 12px;
    line-height: 10px;
    position: relative;
  }

  .tap-section02 > .section02 > .slider-wrap > .txt-box > li::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0% ;
    background-color: #222222;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.3s ;
  }
  .tap-section02 > .section02 > .slider-wrap > .txt-box > li:hover::after{
    width: 100%;
  }
  .tap-section02 > .section02 > .slider-wrap > .txt-box:hover  > li{
    opacity: 0.3;
  }
  .tap-section02 > .section02 > .slider-wrap > .txt-box > li:hover  {
    opacity: 1;
  }

  /* .tap-section02 > .section02 > .slider-wrap > .txt-box {
    margin: 0 900px;
  } */

  .tap-section02 > .section02 .slider-section .module {
    padding: 2px 0;
  }
  .tap-section02 .module > .module-wrap {
    display:flex;
    justify-content:center;
    position: relative;
  }
  .tap-section02 .module > .module-wrap > .winia-module {
    width: 100%;
  }
  .tap-section02 > .section02 > .slider-section > .module > .module-wrap > .winia-module > .pro-img {
    /* padding-bottom: 700px; */
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li {
    width: calc((100% - 25px) / 3);
    background-color: #F3F3F3;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px ;
    position: relative;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a {
    display: block;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > img {
    margin: 0 120px;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > .pro-name {
    margin: 0 100px;
    font-size: 20px;
    font-weight: bold;
    color:#222222;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > .pro-name-1{
    margin: 0 130px;
    font-size: 20px;
    font-weight: bold;
    color:#222222;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > .pro-name-4{
    margin: 0 110px;
    font-size: 20px;
    font-weight: bold;
    color:#222222;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > .pro-name-6{
    margin: 0 85px;
    font-size: 20px;
    font-weight: bold;
    color:#222222;
  }
  .tap-section02 .module > .module-wrap > .winia-module > .pro-img > li > a > .pro-code {
    font-size: 12px;
    margin: 0 170px;
  }

  /* .choice {
    width: 100%;
  } */

  .choice > .choice-box > a  {
    width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
  }
  .choice > .choice-box > a:hover  > img{
    transform: translate(0);
  }

  .choice > .choice-box> a > img{
    display: block;
    transform: scale(1.005);
    transition: 0.5s;
    width: 100%;
  }

  .package > .package-box {
    padding-bottom: 660px;
  }
  .package > .package-box > div > div > a{
    width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
  }
  .package > .package-box > .left > div:hover > a>img,
  .package > .package-box > .right > div:hover > a>img{
    transform: scale(1.05);
  }
  .package > .package-box > div > div > a > img{
    display: block;
    width: 100%;
    transition: 0.5s;
  }
  .package > .package-box > .left > div {
    padding-right: 10px;
    box-sizing: border-box;
  }
  .package > .package-box > .left > .left-top{
    margin-bottom: 16px;
  }
  .package > .package-box > .center > div > a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .package > .package-box > .right > div > a {
    padding-left: 10px;
  }
  .package > .package-box > .right > .right-top {
    margin-bottom: 16px;
  }


  .push > .push-box > div > div > a{
    width: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
  }

  .push > .push-box > div > div:hover > a > img {
    transform: scale(1.02);
  }
  .push > .push-box > div > div > a > img {
    display: block;
    width: 100%;
    transition: 0.5s;
  }
  .push > .push-box > .left > div {
    padding-right: 10px;
    box-sizing: border-box;
  } 
  .push > .push-box > .left > .left-top {
    margin-bottom: 16px;
  }
  .push > .push-box > .right > div {
    padding-left: 10px;
    box-sizing: border-box;
  }
  .push > .push-box > .right> .right-top {
    margin-bottom: 16px;
  }

  .slider-section > .slick-dots {
    bottom: 40px;
    z-index: 9;
  }


  /* tap-section02 en */

  /* bast-section03 st */

  .best-section03 {
    background-image: url(https://www.winiadimchae.com/resources/images/main/bg_main_popular.jpg);
    padding-top:100px; 
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;  
  }
  .best-section03 > .best-section > h2 {
    text-align: center;
    color:#222222
  }
  .best-section03 > .best-section > .txt-btn {
    display: flex;
    justify-content: center ;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color:#222222
  }
  .best-section03 > .best-section > .txt-btn > .txt00 {
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    padding-bottom: 5px;
  }
  .best-section03 > .best-section > .txt-btn > .txt00::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0% ;
    background-color: #222222;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.3s ;
  }
  .best-section03 > .best-section > .txt-btn > .txt00:hover::after{
    width: 100%;
  }
  .best-section03 > .best-section > .txt-btn:hover > .txt00{
    opacity: 0.3;
  }
  .best-section03 > .best-section > .txt-btn > .txt00:hover  {
    opacity: 1;
  }
  .best-section03 > .best-section .best-slider > .slide .content {
    border:0px solid ;
    padding: 20px 20px 20px;
    text-align: center;
    font-weight: bold;
    color:#222222;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .bestimg-box {
    height: 300px;
    background-color: #f3f3f3;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .bestimg-box > img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .best-section03 > .best-section .best-slider > .slide .content > .txt-box {
    height: 220px;
    padding-top: 30px;
    background-color: #f3f3f3;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .best-name {
    font-size: 20px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .best-name03 {
    font-size:20px;
    padding-bottom: 80px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .best-name04 {
    font-size:18px;
    padding-bottom: 80px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .best-name05 {
    font-size:20px;
    padding-bottom: 80px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .best-name06 {
    font-size:20px;
    padding-bottom: 80px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > .price {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > a {
    font-size: 16px;
    margin-top: 40px;
  }
  .best-section03 > .best-section .best-slider > .slide .content > .txt-box > svg {
    padding-left: 8px;
  }

  /* bast-section03 en */


  /* kitchen-section04 st */

  .kitchen-section04 {
    margin-top: 100px;
    position: relative;
  }
  .kitchen-section04 > .kitchen-section {
    display: flex ;
    justify-content: center ;
   
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content > img {
    width: 100%;
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content {
    position: relative;
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content > .kitchen-txt-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content > .kitchen-txt-box > h1{
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content > .kitchen-txt-box > p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
  .kitchen-section04 > .kitchen-wrap > .kitchen-slider .content > .kitchen-txt-box > a{
    position: absolute;
    transform: translate(-50%, -50%);
    top:400%;
    left:40%;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
  }
  .kitchen-section04 > .kitchen-section > h2{
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  } 
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top:15%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > li{
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5px;
    position: relative;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > li::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0 ;
    background-color: #ffffff;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > li:hover::after {
    width: 100px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > .btn-txt02:hover::after {
    width: 85px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > .btn-txt03:hover::after {
    width: 60px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > .btn-txt04:hover::after {
    width: 120px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > .btn-txt05:hover::after {
    width: 85px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn > .btn-txt06:hover::after {
    width: 100px;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn:hover > li{
    opacity: 0.3;
  }
  .kitchen-section04 > .kitchen-section > .txt-box > .txt-btn> li:hover {
    opacity: 1;
  }

  .kitchen-wrap .slick-dots{
    bottom: 0 ;
    z-index: 0;
  }
  .kitchen-wrap .slick-dots li {
    width: 120px;
    height: auto;
  }
  .kitchen-wrap .slick-dots li::after {
    height: 0 ;
    width: 0% ;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  } 


  /* kitchen-section04 en */


  /* live-section05 st */

  .live-section05{
    position: relative;
  }
  .live-section05 > .live-section {
    display: flex ;
    justify-content: center ;
   
  }
  .live-section05 > .live-wrap > .live-slider .content > img {
    width: 100%;
  }
  .live-section05 > .live-wrap > .live-slider .content {
    position: relative;
  }
  .live-section05 > .live-wrap > .live-slider .content > .live-txt-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .live-section05 > .live-wrap > .live-slider .content > .live-txt-box > h1{
    margin-bottom: 30px;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
  }
  .live-section05 > .live-wrap > .live-slider .content > .live-txt-box > p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }
  .live-section05 > .live-wrap > .live-slider .content > .live-txt-box > a{
    position: absolute;
    transform: translate(-50%, -50%);
    top:400%;
    left:40%;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
  }
  .live-section05 > .live-section > h2{
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  } 
  .live-section05 > .live-section > .txt-box > .txt-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top:15%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > li{
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5px;
    position: relative;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > li::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0 ;
    background-color: #ffffff;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > li:hover::after {
    width: 50px;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > .btn-txt03:hover::after {
    width: 20px;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > .btn-txt04:hover::after {
    width: 30px;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn > .btn-txt05:hover::after {
    width: 70px;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn:hover > li{
    opacity: 0.3;
  }
  .live-section05 > .live-section > .txt-box > .txt-btn> li:hover {
    opacity: 1;
  }

  .live-wrap .slick-dots{
    bottom: 0 ;
    z-index: 0;
  }
  .live-wrap .slick-dots li {
    width: 120px;
    height: auto;
  }
  .live-wrap .slick-dots li::after {
    height: 0 ;
    width: 0% ;
  } 

  /* live-section05 en */

  /* air-section06 st */

  .air-section06{
    position: relative;
  }
  .air-section06 > .air-section {
    display: flex ;
    justify-content: center ;
   
  }
  .air-section06 > .air-wrap > .air-slider .content > img {
    width: 100%;
  }
  .air-section06 > .air-wrap > .air-slider .content {
    position: relative;
  }
  .air-section06 > .air-wrap > .air-slider .content > .air-txt-box {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .air-section06 > .air-wrap > .air-slider .content > .air-txt-box > h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 54px;
    font-weight: bold;
  }
 
  .air-section06 > .air-wrap > .air-slider .content > .air-txt-box > p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }

  .air-section06 > .air-wrap > .air-slider .content > .air-txt-box > a{
    position: absolute;
    transform: translate(-50%, -50%);
    top:400%;
    left:40%;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    z-index: 9;
  }
  .air-section06 > .air-section > h2{
    position: absolute;
    transform: translate(-50%, -50%);
    top:10%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  } 
  .air-section06 > .air-section > .txt-box > .txt-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top:15%;
    left:50%;
    color:#ffffff;
    z-index: 9;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > li{
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 5px;
    position: relative;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > li::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0 ;
    background-color: #ffffff;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > .btn-txt:hover::after {
    width: 50px;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > .btn-txt02:hover::after {
    width: 80px;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > .btn-txt04:hover::after {
    width: 120px;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > .btn-txt05:hover::after {
    width: 65px;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn:hover > li{
    opacity: 0.3;
  }
  .air-section06 > .air-section > .txt-box > .txt-btn > li:hover {
    opacity: 1;
  }

  .air-wrap .slick-dots{
    bottom: 0 ;
    z-index: 0;
  }
  .air-wrap .slick-dots li {
    width: 120px;
    height: auto;
  }
  .air-wrap .slick-dots li::after {
    height: 0 ;
    width: 0% ;
  } 
  
  /* air-section06 en */

  /* sns-section07 st */

  .sns-section07 {
    padding: 150px 0;
    background-color: #f6f9fb;
  }
  .sns-section07 .SnsTitle-section {
    border-bottom: 1px solid #E0E0E0;
  }
  .sns-section07 .SnsTitle-section > h2 {
    text-align: center;
    font-size: 40px;
    color:#222222;
    line-height: 1;
    font-weight: bold;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box {
    display: flex;
    justify-content: center ;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    color:#222222;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box > .sns-btn {
    margin-right: 30px;
    font-size: 18px;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box > .sns-btn::after {
    content: "" ;
    display: block ;
    height: 2px ;
    width: 0% ;
    background-color: #222222;
    position: absolute ;
    bottom: 0 ;
    left: 0;
    transition: 0.5s ;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box > .sns-btn:hover::after{
    width: 100%;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box:hover > .sns-btn{
    opacity: 0.3;
  }
  .sns-section07 .SnsTitle-section > .sns-btn-box > .sns-btn:hover {
    opacity: 1;
  }

  .sns-section07 .SnsTitle-slider .slide-SnsTitle {
    padding-top: 80px;
  }

  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content {
    margin-right: 35px;
    position: relative;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsImg-box {
    
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsIcon-boxbg {
    width: 31px;
    height: 23px;
    background-image: url(../img/section-07/slider01/icon_sns_bg_b@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    top:7%;
    left:8%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsIcon-boxfb {
    width: 31px;
    height: 23px;
    background-image: url(../img/section-07/slider01/icon_sns_fb_b@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    top:7%;
    left:8%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsIcon-boxin {
    width: 31px;
    height: 23px;
    background-image: url(../img/section-07/slider01/icon_sns_in_b@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    transform: translate(-50%, -50%);
    top:7%;
    left:8%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsImg-box > img {
    border-radius: 30px / 30px;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsImg-box > i {
    width: 100px;
    height: 100px;
    background-image: url(/img/section-07/slider01/icon_page_view.svg);
    background-size: 36px 36px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:40%;
    left:50%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsImg-box > i:hover::after {
    width: 100px;
    
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsImg-box:hover > i {
    opacity: 1;
    color:white;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsTxt-box {
    margin-top: 35px;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsTxt-box > h3 {
    font-size: 28px;
    font-weight: bold;
    color:#222222;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .content > .SnsTxt-box > p {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color:#666666;
  }

  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section {
    margin-top: 250px;
    position:relative;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w20-box {
    width: 283px;
    height: 511px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:10%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w20-box > li > img{
    width: 100%;
    height: 100%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-box {
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:40%;
  } 
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-box > .img02 > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  } 
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-box > .img01 > img {
    width: 100%;
    height: 100%;
  } 

  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-databox {
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:80%;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-databox > h3 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
    color:#222222
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-databox > .h3-bot {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 60px;
    color:#666666;
  }

  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-databox > p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
    padding-top: 27px;
    color:#222222;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .recipe-section > .w40-databox > a {
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 11px;
    color:#222222;
  }

  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .review-wrap {
    padding-top: 40px;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .review-wrap > .review {
    width: calc((100% - 50px) / 3);
    margin-bottom: 25px;
  }
  .sns-section07 .SnsTitle-slider .slide-SnsTitle > .review-wrap > .review > img{
    width: 100%;
  }


  /* sns-section07 en */


  /* support-section08 st */

  .support-section08 {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .support-section08 > .support-wrap > .title-box {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .support-section08 > .support-wrap > .title-box > ul {
    width: calc((100% - 25px) 3);
  }
  .support-section08 > .support-wrap > .title-box > ul > .txt-wrap{
    width: 331px;
    height: 500px;
    background-color: #093c71;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 45px 42px;
  }
  .support-section08 > .support-wrap > .title-box > ul > .txt-wrap > p {
    font-weight: bold;
    font-size: 28px;
  }

  /* support-section08 en */


  /* sitemap-section09 st */
  .sitemap-section09 {
    border-top: 1px solid #e0e0e0;
  }
  .sitemap-section09 > .map-wrap {
    display: flex;
    justify-content: center;
  }
  .sitemap-section09 > .map-wrap > .map-section {
    padding: 60px 0;
    width: 18%;
  }
  .sitemap-section09 > .map-wrap > .map-section > h2 {
    font-size: 18px;
    font-weight: bold;
    color:#222222;
  }
  .sitemap-section09 > .map-wrap > .map-section > ul {
  }
  .sitemap-section09 > .map-wrap > .map-section > ul > li {
    font-size: 18px;
    font-weight: bold;
    color:#666666;
    padding-bottom: 12px;
  }
  /* sitemap-section09 en */

  /* sitelink-section10 st */

  .sitelink-section10 {
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
  }
  .sitelink-section10 > .link-data {
    font-size:15px;
    font-weight: bold;
    color:#222222;
  }
  .sitelink-section10 > .link-data > ul {
    justify-content: center;
  }
  /* sitelink-section10 en */

  /* siteinfo-section11 st */

  .siteinfo-section11 {
    border-top: 1px solid #e0e0e0;
    padding-top: 30px;
    padding-bottom: 32px;
  }
  .siteinfo-section11 > .info-data >p {
    font-size: 14px;
    font-weight: bold;
    color:#666666;
  }
  .siteinfo-section11 > .info-data >p > span {
    font-size: 14px;
    font-weight: bold;
    color:#666666;
  }
  .siteinfo-section11 > .info-data >p > .info02{
    margin-left: 30px;
  }
  .siteinfo-section11 > .info-data >p > span:last-child {
    margin-left: 30px;
  }

  /* siteinfo-section11 en */

  .mo-menu-wrap {
    height: 60px;
    background-color: black;
  }
  
  .mo-version {
    display:none;
  }
  
  @media screen and (max-width:720px) {
    .pc-version{
      display:none;
    }
    .mo-version{
      display:block;
    }
  }